*{margin: 0; padding: 0;box-sizing: border-box;}
li{list-style: none;}

.App {
  text-align: center;
}
.Header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.Header.dark {
  background: black;
  color:white;
}
.Header ul{
  display: flex;
}
.Header li {
  padding: 0 20px;
}
.content {
  height:700px;
  padding-top: 100px;;
}
.content.dark {
  background-color: #666;
  color:#fff;
}

.Footer {
  border-top: 1px solid #ccc;
  padding:30px;
}
.Footer.dark {
  background: #333;
  color:#fff;
}
.Footer button{
  outline: none;
  padding: 10px 20px;
  float:right;
}
.Footer.dark button{
  background-color: #eee;
  
}